---
layout: default
title: Faster - Super Fast Distributed Computing
---

<div class="homePage">
	<div class="homeRow">
		<div class="homeMain">
			<div class="hero">
				<p>
				Faster is distributed computing framework built to help you solve hard problems faster!
				</p>
			</div>
			<div class="lastNews">
				<h1>Last news</h1>
				{% for post in site.categories.news limit: 1 %}
				<h3>{{ post.title }} <span>{{ post.date | date_to_string }}</span></h3>
				<p>{{ post.abstract }}</br>
				</p>
				{% endfor %}
				<a href="/faster/blog.html">read more >></a>
			</div>



			<div class="featureWall">
				{% for post in site.categories.feature %}
				<div class="featureRow">
					<div class="featureDesc">
						<h1>{{ post.title }}</h1>
						{{ post.content }}
					</div>
					<div class="featureImg">
						<img src={{ post.img }}>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="posts">
			<a href="/faster/downloads.html">
			<div class="downloadButton">
				<h1>Download Faster</h1>
				{% for release in site.categories.release | limit:1 %}
				<p>{{ release.title }}</p>
				{% endfor %}
			</div>
			</a>
			<h2>News</h2>
			<ul>
				{% for post in site.categories.news limit: 10 %}
				<li><a href="/faster{{ post.url }}">{{ post.title }}</a> <span>{{ post.date | date_to_string }}</span></li>
				{% endfor %}
			</ul>

			<h2>Last Releases</h2>
			<ul>
			{% for release in site.categories.release limit: 3 %}
				<li><a href="/faster{{ release.url }}">{{ release.title }}</a> <span>{{ release.date | date_to_string }}</span> </li>
			{% endfor %}
			</ul>

			<h2>Build Status</h2>
			<p>
			<h3>master branch</h3>
			<a href="https://travis-ci.org/mtcs/faster"><img src="https://travis-ci.org/mtcs/faster.svg?branch=master" /></a><br>
			<a href="https://coveralls.io/github/mtcs/faster?branch=master"><img src="https://coveralls.io/repos/github/mtcs/faster/badge.svg?branch=master" /></a><br>
			<h3>dev/master branch</h3>
			<a href="https://travis-ci.org/mtcs/faster"><img src="https://travis-ci.org/mtcs/faster.svg?branch=dev%2Fmaster" /></a><br>
			<a href="https://coveralls.io/github/mtcs/faster?branch=dev%2Fmaster"><img src="https://coveralls.io/repos/github/mtcs/faster/badge.svg?branch=dev%2Fmaster" /></a><br>
			</p>
		</div>
	</div>
</div>
