---
layout: default
title: Faster - Super Fast Distributed Computing
---

<div class="home">
	<div class="homeRow">
		<div class="homeMain">
			<div class="hero">
				<p>
				Faster is distributed computing framework built to help you solve hard problems faster! 
				</p>
			</div>
			<div class="lastRelease">
				<h1>Last Release</h1>
				{% for release in site.categories.release | last %}
				<p><a href="{{ release.url }}">{{ release.title }}</a> <span>{{ release.date | date_to_string }}</span> </p>
				{% endfor %}
			</div>

			<div class="featureWall">
				{% for post in site.categories.feature %}
				<div class="featureRow">
					<div class="featureDesc">
						<h1>{{ post.title }}</h1>
						{{ post.content }}
					</div>
					<div class="featureImg">
						<img src={{ post.img }}>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="posts">
			<h1>News</h1>
			<ul>
				{% for post in site.categories.news %}
				<li><span>{{ post.date | date_to_string }}</span> | <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
