---
layout: default
title: Faster - Super Fast Distributed Computing
---

<div class="homePage">
	<div class="homeRow">
		<div class="homeMain">
			<div class="hero">
				<p>
				Faster is distributed computing framework built to help you solve hard problems faster!
				</p>
			</div>
			<div class="lastNews">
				<h1>Last news</h1>
				{% for post in site.categories.news limit: 1 %}
				<h3>{{ post.title }} <span>{{ post.date | date_to_string }}</span></h3>
				<p>{{ post.abstract }}</br>
				</p>
				{% endfor %}
				<a href="/faster/blog.html">read more >></a>
			</div>



			<div class="featureWall">
				{% for post in site.categories.feature %}
				<div class="featureRow">
					<div class="featureDesc">
						<h1>{{ post.title }}</h1>
						{{ post.content }}
					</div>
					<div class="featureImg">
						<img src={{ post.img }}>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="posts">
			<a href="/faster/downloads.html">
			<div class="downloadButton">
				<h1>Download Faster</h1>
				{% for release in site.categories.release | limit:1 %}
				<p>{{ release.title }}</p>
				{% endfor %}
			</div>
			</a>
			<h2>News</h2>
			<ul>
				{% for post in site.categories.news limit: 10 %}
				<li><a href="/faster{{ post.url }}">{{ post.title }}</a> <span>{{ post.date | date_to_string }}</span></li>
				{% endfor %}
			</ul>

			<h2>Last Releases</h2>
			<ul>
				{% for release in site.categories.release limit: 3 %}
				<li><a href="/faster{{ release.url }}">{{ release.title }}</a> <span>{{ release.date | date_to_string }}</span> </li>
				{% endfor %}
			</ul>

			<h2>Repository</h2>
			<p align=center>
			<a href="https://github.com/mtcs/faster"><img src="https://github.com/mtcs/faster/wiki/img/GitHub-Mark/PNG/GitHub-Mark-64px.png" /></a>
			</p>

			<p align=center>
			<a href="https://github.com/mtcs/faster"><img src="https://img.shields.io/github/release/mtcs/faster.svg?maxAge=2592000" /></a>
			<a href="https://github.com/mtcs/faster"><img src="https://img.shields.io/github/tag/mtcs/faster.svg?maxAge=25900" /></a>
			<a href="https://github.com/mtcs/faster"><img src="https://img.shields.io/github/stars/mtcs/faster.svg?maxAge=2592000" /></a>
			<a href="https://github.com/mtcs/faster"><img src="https://img.shields.io/github/watchers/mtcs/faster.svg?maxAge=2592000" /></a>
			<a href="https://github.com/mtcs/faster"><img src="https://img.shields.io/github/downloads/mtcs/faster/total.svg?maxAge=2592000" /></a>
			<a href="https://github.com/mtcs/faster/issues"><img src="https://img.shields.io/github/issues/mtcs/faster.svg?maxAge=2592000" /></a>
			</p>

			<p align=center>
			<a href="https://travis-ci.org/mtcs/faster"><img src="https://img.shields.io/travis/mtcs/faster/master.svg?maxAge=2592000" /></a>
			<a href="https://coveralls.io/github/mtcs/faster?branch=master"><img src="https://img.shields.io/coveralls/mtcs/faster/master.svg?maxAge=2592000" /></a></br>
			<a href="https://travis-ci.org/mtcs/faster"><img src="https://img.shields.io/travis/mtcs/faster/dev/master.svg?maxAge=2592000&label=dev build" /></a>
			<a href="https://coveralls.io/github/mtcs/faster?branch=dev%2Fmaster"><img src="https://img.shields.io/coveralls/mtcs/faster/dev/master.svg?maxAge=2592000&label=dev coverage" /></a></br>
			</p>

			<h2>Contribute</h2>
			<p align=center>
			<a href="https://gratipay.com/faster/"><img src="https://img.shields.io/gratipay/team/faster.svg?maxAge=2592000&label=tip faster" /></a>
			<a href="https://gratipay.com/~mtcs/"><img src="https://img.shields.io/gratipay/user/mtcs.svg?maxAge=2592000&label=tip mtcs" /></a></br>
			<a href="https://beerpay.io/mtcs/faster"><img src="https://beerpay.io/mtcs/faster/badge.svg?style=beer" /></a>
			</p>
		</div>
	</div>
</div>
