<div class="footer">
	<div class="contact">
		<p>
		Matheus C. Santos<br />
		PhD Student<br />
		matheuscs@gmail.com
		</p>
	</div>

	<div class="contact">
		<p>
		<a href="https://github.com/mtcs/faster">Faster github repo</a><br />
		<a href="https://github.com/mtcs/faster/wiki">Faster Wiki</a><br />
		</p>
	</div>

	<div class="contactR">
		<a href="http://www.ufmg.br/">
			<img src="/faster/img/UFMG-dk.png"> 
		</a>
	</div>
	<div class="contactR">
		<a href="http://www.dcc.ufmg.br/">
			<img src="/faster/img/dcc-dk.png"> 
		</a>
	</div>
	<div class="contactR">
		<a href="http://www.inweb.org.br/">
			<img src="/faster/img/inweb2-dk.png"> 
		</a>
	</div>
</div>
