         <div class="footer">
            <div class="contact">
              <p>
                Matheus C. Santos<br />
                PhD Student<br />
                matheuscs@gmail.com
              </p>
            </div>
            <div class="contact">
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/mtcs/faster">Faster github repo</a><br />
                <a href="https://github.com/mtcs/faster/wiki">Faster Wiki</a><br />
              </p>
            </div>
          </div>
