          <div class="header">
            <a class="extra" href="/faster/about.html">About</a>
            <a class="extra" href="/faster/howitworks.html">How it Works</a>
            <a class="extra" href="/faster/downloads.html">Downloads</a>
            <a class="extra" href="https://github.com/mtcs/faster/wiki">Documentation</a>
            <a class="extra" href="http://mtcs.github.io/faster/doc/latest/html/">Reference</a>
            <a class="extra" href="/faster/faq.html">FAQ</a>
          </div>

