<div class="header">
		<a class="extra" href="/faster/index.html"> Home </a>
		<a class="extra" href="/faster/about.html"> About </a>
		<a class="extra" href="/faster/blog.html"> Blog </a>
		<!--<a class="extra" href="/faster/howitworks.html">How it Works</a>-->
		<a class="extra" href="/faster/downloads.html"> Downloads </a>
		<a class="extra" href="/faster/doc.html"> Documentation </a>
		<!--<a class="extra" href="/faster/development.html">Dev RoadMap</a>-->
		<a class="extra" href="/faster/faq.html"> FAQ </a>
</div>

